*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: gray;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.container{
    background-color: rgb(192, 179, 179);
    height: 400px;
    width: 400px;
    position: relative;
}