*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 300vh;
}
.box{
    background-color: gray;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;

}
.container1{
    background-color: rgb(175, 167, 167);
    
    height: 300px;
    width: 300px;
    position: relative;
    top: 200px;
}
.container{
    background-color: rgb(218, 204, 204);
    height: 500px;
    width: 300px;
}